In [1]:
import pandas as pd
from os import walk

import simple_tools as sp

In [2]:
# find files inside the folder
filenames = next(walk('data/raw/abstencoes/'))
folders = filenames[1]

dfs = []
for f in folders:
    # open file and store as dataframe
    df = pd.read_csv("data/raw/abstencoes/{}/perfil_comparecimento_abstencao_{}.csv".format(f,f), encoding='Latin-1', sep=";")
    dfs.append(df)

In [3]:
len(dfs)

4

## Separando todos os dados do RJ

In [4]:
dfs_rj = []
for c in range(len(dfs)):
    df_temp = dfs[c][dfs[c]["SG_UF"] == "RJ"]
    dfs_rj.append(df_temp)

In [5]:
sp.print_simple_analysis(dfs_rj[0])

DATAFRAME SHAPE: (522402, 23)
----------------------------------------------------
****************************************************
----------------------------------------------------
FIRST DATA
      DT_GERACAO HH_GERACAO  ANO_ELEICAO  NR_TURNO SG_UF  CD_MUNICIPIO  \
3958  10/05/2019   17:18:30         2014         1    RJ         58424
3959  10/05/2019   17:18:30         2014         1    RJ         58424
3960  10/05/2019   17:18:30         2014         1    RJ         58424
3961  10/05/2019   17:18:30         2014         1    RJ         58424
3962  10/05/2019   17:18:30         2014         1    RJ         58424

     NM_MUNICIPIO  NR_ZONA  CD_GENERO      DS_GENERO  ...  DS_FAIXA_ETARIA  \
3958   SEROPÉDICA      225          0  NÃO INFORMADO  ...     75 a 79 anos
3959   SEROPÉDICA      225          0  NÃO INFORMADO  ...     65 a 69 anos
3960   SEROPÉDICA      225          0  NÃO INFORMADO  ...     80 a 84 anos
3961   SEROPÉDICA      225          0  NÃO INFORMADO  ...     70 a 74 anos
3962   SEROPÉDICA      225          2      MASCULINO  ...     50 a 54 anos

     CD_GRAU_ESCOLARIDADE   DS_GRAU_ESCOLARIDADE QT_APTOS  QT_COMPARECIMENTO  \
3958                    2           LÊ E ESCREVE        1                  1
3959                    7    SUPERIOR INCOMPLETO        1                  1
3960                    1             ANALFABETO        1                  0
3961                    6  ENSINO MÉDIO COMPLETO        1                  1
3962                    6  ENSINO MÉDIO COMPLETO        1                  1

     QT_ABSTENCAO  QT_COMPARECIMENTO_DEFICIENCIA  QT_ABSTENCAO_DEFICIENCIA  \
3958            0                              0                         0
3959            0                              0                         0
3960            1                              0                         0
3961            0                              0                         0
3962            0                              0                         0

      QT_COMPARECIMENTO_TTE  QT_ABSTENCAO_TTE
3958                      0                 0
3959                      0                 0
3960                      0                 0
3961                      0                 0
3962                      0                 0

[5 rows x 23 columns]
----------------------------------------------------
****************************************************
----------------------------------------------------
LAST DATA
         DT_GERACAO HH_GERACAO  ANO_ELEICAO  NR_TURNO SG_UF  CD_MUNICIPIO  \
8103709  10/05/2019   17:18:30         2014         2    RJ         60011
8103710  10/05/2019   17:18:30         2014         2    RJ         60011
8103711  10/05/2019   17:18:30         2014         2    RJ         60011
8103712  10/05/2019   17:18:30         2014         2    RJ         60011
8103713  10/05/2019   17:18:30         2014         2    RJ         60011

           NM_MUNICIPIO  NR_ZONA  CD_GENERO DS_GENERO  ...  DS_FAIXA_ETARIA  \
8103709  RIO DE JANEIRO      240          4  FEMININO  ...     75 a 79 anos
8103710  RIO DE JANEIRO      240          4  FEMININO  ...     75 a 79 anos
8103711  RIO DE JANEIRO      240          4  FEMININO  ...     80 a 84 anos
8103712  RIO DE JANEIRO      240          4  FEMININO  ...     80 a 84 anos
8103713  RIO DE JANEIRO      240          4  FEMININO  ...     80 a 84 anos

        CD_GRAU_ESCOLARIDADE           DS_GRAU_ESCOLARIDADE QT_APTOS  \
8103709                    5        ENSINO MÉDIO INCOMPLETO        4
8103710                    8              SUPERIOR COMPLETO        8
8103711                    3  ENSINO FUNDAMENTAL INCOMPLETO       68
8103712                    7            SUPERIOR INCOMPLETO        2
8103713                    8              SUPERIOR COMPLETO        7

         QT_COMPARECIMENTO QT_ABSTENCAO  QT_COMPARECIMENTO_DEFICIENCIA  \
8103709                  1            3                              0
8103710                  6            2                              0
8103711                  4           64                              0
8103712                  0            2                              0
8103713                  2            5                              0

         QT_ABSTENCAO_DEFICIENCIA  QT_COMPARECIMENTO_TTE  QT_ABSTENCAO_TTE
8103709                         0                      0                 0
8103710                         0                      0                 0
8103711                         0                      0                 0
8103712                         0                      0                 0
8103713                         0                      0                 0

[5 rows x 23 columns]
----------------------------------------------------
****************************************************
----------------------------------------------------
DATAFRAME DESCRIPTION
       ANO_ELEICAO  NR_TURNO   CD_MUNICIPIO        NR_ZONA      CD_GENERO  \
count     522402.0  522402.0  522402.000000  522402.000000  522402.000000
mean        2014.0       1.5   59150.134138     125.573068       2.924154
std            0.0       0.5     748.059098      72.728169       1.166941
min         2014.0       1.0   58009.000000       1.000000       0.000000
25%         2014.0       1.0   58467.000000      62.000000       2.000000
50%         2014.0       1.5   58971.000000     126.000000       4.000000
75%         2014.0       2.0   60011.000000     187.000000       4.000000
max         2014.0       2.0   60011.000000     256.000000       4.000000

       CD_ESTADO_CIVIL  CD_FAIXA_ETARIA  CD_GRAU_ESCOLARIDADE       QT_APTOS  \
count    522402.000000    522402.000000         522402.000000  522402.000000
mean          3.824583      5673.350324              4.268479      46.482000
std           2.912420      2099.307823              2.259957     138.218797
min           0.000000        -3.000000              0.000000       1.000000
25%           1.000000      4044.000000              2.000000       2.000000
50%           3.000000      5559.000000              4.000000       6.000000
75%           7.000000      7074.000000              6.000000      28.000000
max           9.000000      9999.000000              8.000000    3261.000000

       QT_COMPARECIMENTO   QT_ABSTENCAO  QT_COMPARECIMENTO_DEFICIENCIA  \
count      522402.000000  522402.000000                  522402.000000
mean           36.612258       9.869742                       0.104714
std           115.744608      26.247630                       0.661985
min             0.000000       0.000000                       0.000000
25%             1.000000       0.000000                       0.000000
50%             3.000000       2.000000                       0.000000
75%            18.000000       7.000000                       0.000000
max          2746.000000     771.000000                      57.000000

       QT_ABSTENCAO_DEFICIENCIA  QT_COMPARECIMENTO_TTE  QT_ABSTENCAO_TTE
count             522402.000000          522402.000000     522402.000000
mean                   0.051368               0.021518          0.003149
std                    0.285626               0.187915          0.058435
min                    0.000000               0.000000          0.000000
25%                    0.000000               0.000000          0.000000
50%                    0.000000               0.000000          0.000000
75%                    0.000000               0.000000          0.000000
max                   14.000000              20.000000          5.000000
----------------------------------------------------
****************************************************
----------------------------------------------------
DATAFRAME INFO
<class 'pandas.core.frame.DataFrame'>
Int64Index: 522402 entries, 3958 to 8103713
Data columns (total 23 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DT_GERACAO                     522402 non-null  object
 1   HH_GERACAO                     522402 non-null  object
 2   ANO_ELEICAO                    522402 non-null  int64
 3   NR_TURNO                       522402 non-null  int64
 4   SG_UF                          522402 non-null  object
 5   CD_MUNICIPIO                   522402 non-null  int64
 6   NM_MUNICIPIO                   522402 non-null  object
 7   NR_ZONA                        522402 non-null  int64
 8   CD_GENERO                      522402 non-null  int64
 9   DS_GENERO                      522402 non-null  object
 10  CD_ESTADO_CIVIL                522402 non-null  int64
 11  DS_ESTADO_CIVIL                522402 non-null  object
 12  CD_FAIXA_ETARIA                522402 non-null  int64
 13  DS_FAIXA_ETARIA                522402 non-null  object
 14  CD_GRAU_ESCOLARIDADE           522402 non-null  int64
 15  DS_GRAU_ESCOLARIDADE           522402 non-null  object
 16  QT_APTOS                       522402 non-null  int64
 17  QT_COMPARECIMENTO              522402 non-null  int64
 18  QT_ABSTENCAO                   522402 non-null  int64
 19  QT_COMPARECIMENTO_DEFICIENCIA  522402 non-null  int64
 20  QT_ABSTENCAO_DEFICIENCIA       522402 non-null  int64
 21  QT_COMPARECIMENTO_TTE          522402 non-null  int64
 22  QT_ABSTENCAO_TTE               522402 non-null  int64
dtypes: int64(15), object(8)
memory usage: 95.7+ MB
None

In [6]:
from functools import reduce

def unite_dataframes(dfs):

    df = reduce(lambda  left,right: pd.merge(left,right,how='outer'), dfs)
    
    return df

In [7]:
df = unite_dataframes(dfs_rj)

In [9]:
df.to_csv("data/processed/abstencoes_rj.csv", encoding="Latin-1", index=False)